body {
  overflow: hidden;
  padding: 0;
}

/* latin */
@font-face {
  font-family: 'Orbitron';
  font-style: normal;
  font-weight: 400;
  src: local('Orbitron Regular'), local('Orbitron-Regular'), url('../fonts/HmnHiRzvcnQr8CjBje6GQvesZW2xOQ-xsNqO47m55DA.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}



.topInfos {
  position: fixed;top:0;left:0;right:0;
  height:20vh;
  border-bottom: 1px solid rgba(0,0,0,0.2);
margin:0}

.soc {font-size: 5vh;line-height:16vh;text-align: center;
border-bottom: 1px solid rgba(0,0,0,0.2);
}
.topextra {line-height: 4vh;font-size: 2vh}


.media {
  position: fixed;top:20vh;left:0;right:0;
  height:73vh;background: #111111;margin:0;
}

.media video {
  width:100vw;
  opacity: 0;pointer-events: none;
  height:0;margin:0;padding:0;

}

.media img {
  width:100vw;height:0;
  opacity: 0;pointer-events: none;
margin:0;padding:0;
}

.media img.show , .media video.show {
  opacity: 1;pointer-events: auto;
  height:auto;z-index: 5;
  max-height: 70vh;

}


.smallNumber {background: #fff;z-index: 9}
.showNumber {
position: fixed;top:35vh;left:0vw;right:0vw;height:50vh;opacity: 0;
text-align: center;
/*-webkit-box-shadow: 0px 11px 30px -10px rgba(0,0,0,0.55);*/
/*box-shadow: 0px 11px 30px -10px rgba(0,0,0,0.55);*/
box-shadow:none
}
h1[number] {text-align: center;}


.showNumber.show {height:50vh;opacity: 1;background: #fff;z-index: 9;
text-align: center;line-height: 19vh;font-size: 16vh;text-align: center;}

.showNumber .numberOnly {line-height: 38vh;font-size: 28vh;}

.showNumber.show small {font-size: 5vh;line-height: 6vh;display: block}
.showNumber .numberOnly small  {font-size: 10vh;line-height: 12vh;display: block}

.smallNumber {line-height: 5vh;font-size: 3vh;text-align: center;}
.smallNumber .numberOnly , .bottomBig {line-height: 10vh;font-size: 7vh;text-align: center;}
.smallNumber small {font-size: 1vh;line-height: 3vh;display: block;height:3vh;}
.smallNumber .numberOnly  small , .bottomTitle {font-size: 3vh;line-height: 4vh;text-align: center;}
.bottomTitle {height: 4vh;overflow: hidden;}





.bottomInfos {
  position: fixed;bottom:0;left:0;right:0;
  height:15vh;
  border-top: 1px solid rgba(0,0,0,0.1);
  z-index: 8;
  background: #fff;
}





body[amber] .topInfos {background: #2B1200;border-bottom-color:#2B1200 ;color:#FFC400 }
body[amber] .soc {border-bottom-color:#2B1200  }
body[amber] .topInfos .soc{}
body[amber] .topInfos .topextra{background: #713000;color:#FFC400}
body[amber] .showNumber.show {background: #FFEA00;color:#111}

.fr {font-family: 'Orbitron', cursive !important}
